<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="APPLICATION_NAME" value="emerald-mind" />
    <conversionRule conversionWord="logId" converterClass="ch.qos.logback.classic.pattern.LoggerConverter" />

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/${APPLICATION_NAME}/${APPLICATION_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/${APPLICATION_NAME}/${APPLICATION_NAME}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %date [%thread] [%-5level]--[%logId] %c{40} %line --%mdc{client} %msg%n
            </Pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>

    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <File>logs/${APPLICATION_NAME}/${APPLICATION_NAME}-error.log</File>
        <encoder>
            <Pattern>%date [%thread] [%-5level]--[%logId] %c{40} %line --%mdc{client} %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/${APPLICATION_NAME}/${APPLICATION_NAME}-error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>512MB</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %date [%thread] [%-5level]--[%logId] %c{40} %line --%mdc{client} %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="MONITOR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/${APPLICATION_NAME}/${APPLICATION_NAME}-monitor.log</File>
        <encoder>
            <Pattern>%date [%thread] [%-5level]--[%logId] %c{40} %line --%mdc{client} %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/${APPLICATION_NAME}/${APPLICATION_NAME}-monitor-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>512MB</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="monitor" level="error" additivity="false">
        <appender-ref ref="MONITOR"/>
    </logger>

    <logger name="org.springframework" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="file" />
        <appender-ref ref="error" />
    </logger>

    <logger name="org.mybatis" level="debug" additivity="false">
        <appender-ref ref="file" />
        <appender-ref ref="error" />
        <appender-ref ref="STDOUT" />
    </logger>

</configuration>
